/*

IF YOU'RE NOT FAMILIAR WITH CSS

If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this

*/

@import url('https://fonts.googleapis.com/css?family=Amatic%20SC');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 13px;
    font-family: Amatic SC, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

#cs {
    width: 100%;
    padding: 0em;
    font-size: 6em;
    line-height: 1em;
    letter-spacing: 1px;
    bottom: 0px;
    position: absolute;
    text-shadow: 2px 2px 4px black;
}

#verse {
    width: 100%;
    padding: 0em;
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 1px;
    text-align: center;
    text-align-last: right;
    bottom: 0px;
    position: absolute;
    text-shadow: 2px 2px 4px black;
    background-color: black;
}
